env:
  CARGO_INCREMENTAL: '0'
  CARGO_NET_RETRY: '10'
  RUSTUP_MAX_RETRIES: '10'
  RUST_BACKTRACE: short
jobs:
  load_nix:
    runs-on: ubuntu-latest
    steps:
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main
    - name: Setup Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Install packages
      run: nix-env -i /nix/store/ssfb44fiiqjl5g4m7yy8hyd7s91y72nh-mold-unwrapped-wrapper-2.40.4
        /nix/store/ydrckgnllgg8nmhdwni81h7xhcpnrlhd-openssl-3.6.0-dev /nix/store/hrkjdbci2xiqr1l18my0dnpqdbzi8mkz-egl-wayland-1.1.20
        /nix/store/h9grlk1b07l80k6rnmyliawg25bdpsv5-wayland-1.24.0 /nix/store/mm4v6w3wj8wi5qc6rwdrb2rkqs08whp9-libglvnd-1.7.0
        /nix/store/pw8v6hlrg7lz2d3x115x3zy80bbhx1x9-mesa-libgbm-25.1.0
  pre_ci:
    uses: valeratrades/.github/.github/workflows/pre_ci.yml@master
  rust-tests:
    if: needs.pre_ci.outputs.continue
    name: Rust ${{matrix.rust}}
    needs:
    - load_nix
    - pre_ci
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main
    - name: Restore Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{matrix.rust}}
    - name: Install mold
      uses: rui314/setup-mold@v1
    - if: github.ref == 'refs/heads/release'
      name: Set RUSTFLAGS for release branch
      run: echo "RUSTFLAGS=-Dwarnings" >> $GITHUB_ENV
    - if: matrix.rust == 'nightly'
      name: Enable type layout randomization
      run: echo RUSTFLAGS=${RUSTFLAGS}\ -Zrandomize-layout\ --cfg=exhaustive >> $GITHUB_ENV
    - name: Download modified by pre-ci Cargo.toml files
      uses: actions/download-artifact@v4
      with:
        name: modified-cargo-files
    - run: cargo update
    - run: cargo check
    - run: cargo test
    strategy:
      fail-fast: false
      matrix:
        rust:
        - nightly
        - nightly-2025-08-01
    timeout-minutes: 45
name: Errors
'on':
  pull_request: {}
  push: {}
  workflow_dispatch: {}
permissions:
  contents: read
